# --- DCM4CHEE ---
DCM4CHEE_URL=http://111111
PACS_USER=1111
PACS_PASSWORD=11111

# --- ROUTER STORESCU ---
ROUTER_IP=1111111
ROUTER_PORT=111111
ROUTER_AET=1111

# --- LOGGING ---
LOG_FILE=app_dicom.log

# --- TEMP DIRECTORY ---
TEMP_DIR=/tmp/dicom_gateway_tmp

# --- SATUSEHAT ---
AUTH_URL = https://api-satusehat.kemkes.go.id/oauth2/v1
BASE_URL = https://api-satusehat.kemkes.go.id/fhir-r4/v1
ORG_ID = 111111111
CLIENT_ID = 1111111111111111
CLIENT_SECRET = 111111111111111111
